fastapi
uvicorn[standard]
sentence-transformers
spacy
python-arango==8.3.2
redis
pydantic
pydantic-settings
python-dotenv
httpx
python-jose[cryptography]
bcrypt==4.1.3
python-socketio
pytesseract
python-multipart
